body{
	
	 
	  position: relative;
      top: 25%; /* 25% from the top */
      width: 50%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 10px; 
      left: 330px;

}

